@import "./normalize.scss";

/* --------------------------------------------------------------------------------- */

/* common element start */

$base-font-color: #666;
$dark-green-color: #75cd22;
$light-green-color: #8bc53f;

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: 0.3s;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.responsive_img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: $base-font-color;
  min-height: 500vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  // padding: 0 50px;
  // border: 1px solid green;
}

@media (max-width: 1360px) {
  .container {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: $base-font-color;
}

.btn {
  border-radius: 4px;
  background-color: $light-green-color;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.125em;
  color: #fff;
  width: 330px;
  text-transform: uppercase;
  padding: 25px 0;
  margin: 0 auto;
  text-align: center;
}

/* common element end */

/* --------------------------------------------------------------------------------- */

/* header start */

header {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

header .container {
  display: flex;
}

.header-logo {
  // border: 1px solid red;
  width: 200px;
  display: flex;
  margin-right: 85px;
}

.header-content {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.header-content-menu,
.header-content-contacts {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header-content-menu {
  justify-content: space-between;
}

.header-content-menu {
  padding-bottom: 7px;
}

.header-content-contacts {
  background-color: $dark-green-color;
  height: 32px;
  position: relative;
}

.header-content-contacts:after {
  background-color: $dark-green-color;
  content: "";
  position: absolute;
  right: -100%;
  height: inherit;
  width: 200%;
  z-index: -1;
}

.header-content-contacts:before {
  content: "";
  height: 50px;
  width: 25px;
  background: #fff;
  position: absolute;
  left: -6px;
  top: -21px;
  transform: rotate(40deg);
}

.header-content-contacts a {
  color: #fff;
  font-weight: 700;
  font-size: 0.875em;
  padding-top: 10px;
  position: relative;
  margin-left: 58px;
}

.header-content-contacts a svg {
  position: absolute;
  left: -28px;
  fill: #fff;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
}

nav ul li {
  padding-right: 15px;
}

nav a {
  font-weight: 700;
  white-space: nowrap;
}

.header-content-language {
  margin-left: 20px;
}

.header-content-language a {
  text-transform: uppercase;
  margin-left: 5px;
  font-size: 0.938em;
}

.current-language {
  color: $dark-green-color;
  font-weight: 700;
}

/* header animation start */

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  animation-name: slideDown;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    // transform: translateY(-100%);
    /* shadow fix */
    transform: translateY(-110%);
  }
}

.animated.slideUp {
  animation-name: slideUp;
}

/* header animation end */

/* header breakpoints start */

@media (max-width: 1100px) {
  nav {
    display: none;
  }

  .header-logo {
    margin-right: 0px;
    height: 87px;
  }

  .header-logo svg {
    width: 100%;
    height: auto;
  }

  .header-content-menu {
    width: 35px;
    order: 2;
    justify-content: flex-end;
    padding-bottom: 0;
  }

  .header-content-contacts {
    width: calc(100% - 35px);
    order: 1;
    background-color: #fff;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 200px;
    align-items: center;
    padding: 10px 0;
  }

  .header-content-contacts a {
    color: $base-font-color;
    padding: 3px 0;
  }

  .header-content-contacts a svg {
    fill: $base-font-color;
  }

  .header-content-contacts:before {
    height: 0;
    width: 0;
  }

  .header-content-contacts:after {
    height: 0;
    width: 0;
  }

  .header-content {
    align-content: center;
  }

  .header-content-language {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header-content-contacts a {
    padding: 2px 0;
  }

  .header-content {
    flex-wrap: nowrap;
  }
}

/* header breakpoints end */

/* header end */

/* --------------------------------------------------------------------------------- */

/* main content start */

/* first screen start */

main {
  padding-top: 87px;
}

.first-screen {
  background-image: url(./../img/pattern_light.jpg);
  overflow: hidden;
}

.first-screen .container {
  display: flex;
}

.first-screen-content {
  flex: 1;
  padding: 270px 0;
  position: relative;
  background-image: url(./../img/first_screen.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.first-screen-content h1 {
  font-weight: 700;
  font-size: 2.375em;
  max-width: 555px;
}

.first-screen-button {
  margin-top: 50px;
}

/* first screen breakpoints start */

@media (max-width: 1100px) {
  .first-screen-content {
    background-size: contain;
  }
}

@media (max-width: 800px) {
  .first-screen-content {
    padding: 200px 0;
  }
}

@media (max-width: 540px) {
  .first-screen-content {
    padding: 135px 0;
  }
}

/* first screen breakpoints end */

/* first screen end */

/* cards start */

section.cards {
  background-color: $light-green-color;
  padding: 10px 0 18px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -60px;
}

.cards-item-wrapper {
  display: flex;
  flex-basis: 25%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}

.cards-item {
  background: linear-gradient(
    180deg,
    #545683 0%,
    rgba(84, 86, 131, 0.95) 47.4%,
    #545683 100%
  );
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  position: relative;
}

.cards-item:before {
  content: "";
  bottom: 0;
  right: 0;
  position: absolute;
  border: 35px solid transparent;
  border-right: 35px solid #787a9b;
  border-bottom: 35px solid #787a9b;
  border-bottom-right-radius: 4px;
}

.cards-item:after {
  content: "";
  bottom: 12px;
  right: 10px;
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(./../img/check.svg);
}

.cards-item p {
  text-align: center;
}

.card-item-icon {
  height: 100px;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 70px 15px 15px;
}

.cart-item-description {
  font-size: 0.875em;
  color: #fff;
  padding: 0px 20px 70px;
}

/* cards breakpoints start */

@media (max-width: 1100px) {
  .cards-item-wrapper {
    flex-basis: 33.33%;
  }
}

@media (max-width: 800px) {
  .cards-item-wrapper {
    flex-basis: 50%;
  }
}

@media (max-width: 540px) {
  .cards-item-wrapper {
    flex-basis: 100%;
  }

  .cards-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

/* cards breakpoints end */

/* cards end */

/* what start */

.what {
  margin-top: 150px;
  overflow: hidden;
}

.what-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 83px;
}

.what-content:after {
  content: "";
  position: absolute;
  top: 0;
  right: 40%;
  width: 50%;
  height: 100%;
  background-color: #f2fae9;
  z-index: -2;
  // -moz-transform: skew(-17deg, 0deg);
  // -webkit-transform: skew(-17deg, 0deg);
  // -o-transform: skew(-17deg, 0deg);
  // -ms-transform: skew(-17deg, 0deg);
  transform: skew(-17deg, 0deg) translateX(50%);
}

.what-content-wrapper {
  display: flex;
  max-width: 500px;
  position: relative;
}

h2.what-content-title {
  font-size: 2.375em;
  font-weight: 700;
}

.what-content-description {
  display: flex;
  flex: 1;
  padding: 70px 0 50px 90px;
  font-size: 1.125em;
  line-height: 1.313em;
}

.what-img-wrapper {
  position: absolute;
  bottom: -17px;
  right: 0;
  transform: skew(-17deg, 0deg);
  width: 365px;
  height: 197px;
  z-index: -1;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-img-wrapper img {
  transform: skew(17deg, 0deg);
}

/* what breakpoints start */

@media (max-width: 1100px) {
  .what-content {
    flex-direction: column;
  }

  .what-content-description {
    padding-left: 0;
    padding-top: 35px;
    max-width: 500px;
  }

  .what-content-wrapper {
    max-width: 100%;
    position: initial;
  }

  .what-content:after {
    left: 0;
  }
}

@media (max-width: 800px) {
  .what-img-wrapper {
    opacity: 0.6;
    right: 10px;
  }

  .what-content:after {
    left: -30%;
    width: 80%;
  }
}

@media (max-width: 540px) {
  .what-img-wrapper {
    opacity: 0.3;
    box-shadow: none;
  }
}

/* what breakpoints end */

/* what end */

/* numbers start */

section.numbers {
  background-color: $light-green-color;
  margin-top: 67px;
  padding: 50px 0 25px;
}

.numbers-wrapper {
  display: flex;
  justify-content: space-between;
}

.numbers-item {
  display: flex;
  color: #575988;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 25px;
}

.numbers-item p {
  display: flex;
  align-self: center;
  padding-left: 20px;
  color: #fff;
  font-size: 0.25em;
  text-transform: uppercase;
}

/* numbers breakpoints start */

@media (max-width: 1100px) {
  .numbers-wrapper {
    width: 50%;
    flex-direction: column;
    align-items: center;
  }

  section.numbers .container {
    display: flex;
  }
}

@media (max-width: 800px) {
  section.numbers .container {
    display: block;
  }

  .numbers-wrapper {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .numbers-wrapper {
    align-items: flex-start;
  }
}

@media (max-width: 380px) {
  .numbers-item {
    flex-wrap: wrap;
  }
  .numbers-item p {
    width: 100%;
    padding-left: 0;
  }
}

/* numbers breakpoints end */

/* faq start */

section.faq {
  padding: 150px 0;
}

h3.faq-heading {
  font-weight: 700;
  font-size: 2.375em;
  padding-bottom: 50px;
}

.accordion {
  max-width: 50%;
}

.faq-item {
  padding-bottom: 15px;
}

[id*="open-accordion"],
[id*="close-accordion"] {
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 99%;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
  font-weight: 700;
  z-index: 1;
  padding: 16px 53px;
}

.accordion a:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 19px;
  background-image: url(./../img/bullet.svg);
}

[id*="open-accordion"]:after,
[id*="close-accordion"]:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 18px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  background-image: url(./../img/plus.svg);
  transition: all 0.5s ease;
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  color: #fff;
  height: 0;
  margin: -1px auto 0;
  position: relative;
  overflow: hidden;
  width: 90%;
  transition: all 0.3s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding: 25px;
  z-index: -1;
  background-color: $light-green-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  background-image: url(./../img/minus.svg);
  height: 4px;
}

/* faq end */

/* numbers end */

/* main content end */

/* --------------------------------------------------------------------------------- */
